.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.superInput {
    display: block;
    border: 1px solid darkcyan;
    background-color: lightblue;
    border-radius: 5px;
    height: 25px;
}

.errorInput {
    display: block;
    box-shadow: inset 1px 1px 10px #e50707;
    border: 1px solid #E50707;
    background-color: lightblue;
    border-radius: 5px;
    height: 25px;
}

.error {
    color: #E50707;
    height: 25px;
}
