.checkbox {
    display: none;
}

.spanClassName {

}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fake {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid cyan;
    position: relative;
    margin: 3px;
    border-radius: 20%;
    background-color: #303232;
}
.fake:hover {
    cursor: pointer;
}

.fake::before {
    padding: 3px;
    content: "";
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: block;
    width: 25px;
    height: 25px;
    opacity: 0;
    transition: .3s;
    border-radius: 25%;
    background-image: url("../../../../assets/images/2checkmark.png");
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.text {
    margin-left: 5px;
}