.radio {
    position: absolute;
    opacity: 0;
}

.item {
    display: flex;
    flex-direction: row;
}

.fake {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid cyan;
    position: relative;
    margin: 3px;
    background-color: #303232;
    border-radius: 50%;
}


.fake::before {
    padding: 3px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 3px;
    height: 3px;
    opacity: 0;
    transition: .3s;
    background-color: darkturquoise;
    border-radius: 50%;
}

.radio:checked + .fake::before {
    opacity: 1;
}

.radio:checked + .fake {
    box-shadow: 0 0 10px white;
}

.text {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 2px;
    font-weight: bold;
    font-size: large;

}